:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --special-yellow: #f7E296;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.ttf) format("ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src:
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.ttf) format("ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.btn {
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: 0 0;
  border: 0;
  cursor: pointer;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.conteiner {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.page-header {
  display: grid;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: var(--special-yellow);
}

.page-logo {
  align-self: flex-start;
  margin-left: 60px;
  left: 132px;
  width: 163px;
  height: 35px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 60px;
}

.user-list--navigation,
.nav__list-navigation li {
  list-style: none;
}

.main-nav--user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 1040px;
  padding: 0;
  margin: 0;
}

/* поиск */

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 144px;
  height: 20px;
  font-style: normal;
  padding-right: 0px;
  color: rgba(0, 0, 0, 0.3);
}

.search::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.search-input {
  border: none;
  background-color: var(--special-yellow);
  margin-left: 10px;
  font-size: 15px;
}

.search-button {
  display: none;
}

.user-list--navigation a {
  list-style: none;
  font-style: normal;
  color: var(--basic-black);
}

.user-list--navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0;
}

.user-list--login {
  font-size: 15px;
}

.login-catalog .user-login {
  padding-right: 20px;
}

.compare-catalog {
  padding-left: 100px;
}

.user-list--compare {
  font-size: 15px;
  padding-left: 216px;
}

.user-list--cart {
  font-size: 15px;
  padding-left: 41px;
}

.user-login::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
}

.user-compare::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
}

.user-cart::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav__list-navigation a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.nav__list-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1040px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.main_nav-catalog::after {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  margin-left: 16px;
  background-image: url(../img/plus.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.list-navigation_column a {
  font-family: "Open Sans";
  font-style: normal;
}

.list-navigation--column {
  display: none;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
}

.nav-delivery {
  padding-left: 250px;
}

.nav-warranty {
  padding-left: 0px;
}

.nav-contacts {
  padding-left: 90px;
}

/* main-index */

.section-slider {
  position: relative;
  display: grid;
}

.slider-list-picture {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 473px;
  margin: 0;
}

.slider-list-data {
  display: flex;
  flex-direction: column;

}

.slider-list {
  margin: 0px;
  padding: 0px;
}

.slider-list--item {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

.slider-list--item2 {
  display: none;
}

.slider-list--item3 {
  display: none;
}

.slider-header {
  align-self: flex-start;
  width: 431px;
  margin-top: 128px;
  margin-left: 127px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  letter-spacing: .01em;
  padding: 0;
}

.slider-list li {
  list-style: none;
}

.slider-img1 {
  width: 384px;
  height: auto;
  margin-left: 89px;
}

.slider__text {
  align-self: flex-start;
  font-style: normal;
  letter-spacing: .01em;
  line-height: 1.5;
  margin-left: 127px;
  margin-top: 30px;
}

.slider-btn {
  width: 220px;
  height: 22px;
  margin-top: 67px;
  margin-left: 127px;
  background: 0 0;
  border: 0;
}

.slider-radio {
  position: absolute;
  top: 400px;
  left: 960px;
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 18px;
}

.table-slider {
  margin-top: 60px;
  margin-left: 60px;
  border-spacing: 65px 15px;
  width: 444px;
}

.table-slider .table-value {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}

.table-slider .table-parameters {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.main-link__goods {
  display: grid;
  justify-content: center;
  top: 76px;
}

.goods-link {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  padding-left: 0;
  padding-right: 0;
}

.goods-link {
  list-style: none;
}

.goods-link a {
  color: black;
}

.goods-link p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.goods-link--vr::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #f7e296;
}

.goods-link--selfie::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #f7e296;
}

.goods-link--camera::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #f7e296;
}

.goods-link--fitnes::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #f7e296;
}

.goods-link--watch::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #f7e296;
}

.goods-link--copter::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #f7e296;
}

.service {
  display: grid;
  grid-auto-flow: column;
  justify-items: stretch;
  margin-top: 84px;
  background-color: #e5e5e5;
}

.service-list li,
.logo-list li,
.content__list li,
.checkbox-list li,
.filter__radio-list li,
.sort-list li,
.pagination-list li {
  list-style: none;
}

.service-list {
  display: flex;
  justify-content: stretch;
  margin: 0px;
  padding-right: 390px;
}

.service-list--delivery {
  display: flex;
  flex-direction: column;
}

.service-list--delivery::before {
  content: "";
  position: absolute;
  right: 130px;
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service-btn--group {
  display: flex;
  flex-direction: column;
  justify-self: start;
  justify-content: space-between;
  width: 160px;
  margin-left: 20px;
  border-right: 5px solid;
}

.service-list--warranty,
.service-list--credit {
  display: none;
}

.service-list b {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-list p {
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.service-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0;
}

.info {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 90px;
}

.section-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 473px;
  margin-right: 127px;
}

.section-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 560px;
}

.btn-info {
  margin-top: 84px;
  margin-bottom: 86px;
}

.section-info__delivery-list li {
  margin-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.section-info__delivery-item::before {
  content: "";
  display: inline-block;
  margin-right: 24px;
  width: 8px;
  height: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  background-position: 50% 50%;
}

.title__section-info {
  margin-top: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.text__section-info {
  margin-bottom: 40px;
  font-style: normal;
  line-height: 28px;
  color: var(--basic-black);
}

.section-contacts .text__section-info .title__section-info {
  margin-top: 50px;
  margin-bottom: 40px;
}

/* popaps */

.popup-write-us {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 550px;
  background: #ffffff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.popup-block {
  position: relative;
  display: flex;
  padding-top: 93px;
  padding-right: 100px;
  padding-bottom: 76px;
  padding-left: 100px;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.popup-form label {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.popup-form--username,
.popup-form--email,
.popup-form--message {
  display: flex;
  flex-direction: column;
}

.popup-form--username {
  padding-right: 40px;
  padding-bottom: 34px;
}

.popup-form--message {
  padding-bottom: 20px;
}

.popup-write-us label {
  width: 360px;
  padding-bottom: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  cursor: pointer;
}

.popup-write-us input {
  width: 360px;
  height: 50px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  background-color: rgba(230, 230, 230, .5);
  border: 0;
  outline: 0;
}

.popup-write-us textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: rgba(230, 230, 230, .5);
  border: 0;
  outline: 0;
  resize: none;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: inherit;
  height: 8px;
  margin-top: -5px;
  background-color: #f0c52e;
}

.popup-write-us_close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
}

.popup-write-us .btn {
  width: 200px;
  background: 0 0;
  border: 0;
}

.map {
  display: block;
  width: 960px;
  height: 560px;
}

.popup-map {
  position: relative;
}

.popup-map-close {
  position: absolute;
  z-index: 2;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
}

/* main-catalog */

.catalog-navigation {
  display: grid;
  justify-content: stretch;
  grid-auto-flow: row;
  margin-top: 44px;
}

.content__title {
  display: flex;
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.content__list {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin-top: 30px;
  padding: 0;
}

.main-catalog {
  display: grid;
  grid-auto-flow: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.catalog-nav--main-page,
.catalog-nav--goods,
.catalog-nav--selfie {
  opacity: 0.3;
  color: var(--basic-black);
  padding-right: 40px;
}

.catalog-nav--main-page::after {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-left: 20px;
}

.catalog-nav--goods::after {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-left: 20px;
}

/* Фильтр */

.header-4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 70px;
}

.header-4--filter {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #dcdcdc;
  height: 70px;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 328px;
  background-color: #e5e5e5;
}

.filter__item {
  border: 0px;
  margin-top: 0px;
  width: 348px;
}

.filter__item-range::before {
  content: "";
  position: absolute;
  left: 1px;
  width: 201px;
  height: 2px;
  background-color: #000;
}

.filter__item-range::after {
  content: "";
  position: absolute;
  left: 1px;
  width: 201px;
  height: 2px;
  background-color: #000;
}

.filter-item--bluetooth::before {
  content: "";
  position: absolute;
  left: 1px;
  width: 201px;
  height: 2px;
  background-color: #000;
}

.filter__radio-yes {
  margin-bottom: 21px;
}

.filter-radio-label--yes::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-position: 50% 50%;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter__radio-label--no::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-position: 50% 50%;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.price-controls {
  display: flex;
}

.range-filter {
  width: 200px;
  margin-top: 0px;
}

.filter-item legend {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Gilroy";
  font-size: 14px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 0px;
  margin-left: 10px;
  text-align: center;
  background: #e5e5e5;
  border: none;
  border-radius: 5px;
}

.filter__item legend {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.checkbox-list label,
.filter__radio-list label,
.sort-list a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.range-controls {
  position: relative;
  height: 44px;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #c4c4c4;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 60%;
}

/* конец отсека фильтр */

/* сортировка */

.sort-section {
  display: inline-flex;
  background: #e5e5e5;
  height: 70px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.sort-list-header {
  width: 126px;
  height: 70px;
  margin-top: 0px;
  margin-left: 72px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;

}

.sort-list-arrows {
  list-style: none;
}

.sort-list {
  display: inline-flex;
  margin-right: 0px;
  list-style: none;
  margin: 0px;
  padding-left: 74px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.sort-list--price {
  padding-right: 30px;
}

.sort-list--popular {
  padding-left: 30px;
  padding-right: 202px;
  opacity: 0.3;
}

.sort-list--type {
  opacity: 0.3;
}

.sort-list-arrows {
  display: inline-flex;
  margin-right: 0px;
}

.sort-arrow-up {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  padding-right: 23px;
}

.sort-arrow-down {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

/* конец сортировки */

/* галлерея */

.main-content__img {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding-left: 72px;
}

.main-content__img li {
  list-style: none;
}

.goods-list__img1 {
  margin-right: 40px;
}

.goods-list__img3 {
  margin-right: 40px;
}

.goods-list__img1,
.goods-list__img2 {
  margin-top: 70px;
}

.goods-list__img3,
.goods-list__img4 {
  margin-top: 48px;
}

.goods-icon--new {
  position: absolute;
  top: 1168px;
  right: 145px;
}

.goods-btn--hidden {
  display: none;
}

.titel__goods-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.comparison {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  color: #000000;
}

.price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination-list a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-list {
  display: flex;
  flex-wrap: nowrap;
  background: #ebebeb;
  width: 760px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 78px;
  margin-left: 72px;
  padding: 0px;
}

.pagination-back {
  padding-left: 30px;
  padding-right: 247px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagination-1 {
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagination-2 {
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagination-3 {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagination-forward {
  padding-left: 242px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* footer */

.page-footer {
  display: grid;
  width: 1349px;
  margin-left: auto;
  margin-right: auto;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 46px;
  margin: 0px;
}

.page-logo__footer {

  margin-top: 64px;
}

.login-footer,
.login-footer-catalog {
  margin-right: 63px;
}

.compare-footer,
.compare-footer-catalog {
  margin-right: 62px;
}

.compare-footer-catalog {
  margin-left: 41px;
}

.basket-footer {
  margin-right: 0px;
}

.user__list-footer,
.nav__list-footer,
.social__list-footer {
  list-style: none;
}

.footer-address {
  font-style: normal;
  color: var(--basic-white);
}

.nav__list-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding-right: 205px;
}

.nav__list-footer a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-delivery {
  margin-left: 156px;
  margin-right: 36px;
}

.footer-contacts {
  margin-left: 36px;
  margin-right: 0px;
}

.tel {
  text-align: right;
  font-style: normal;
  color: #ffffff;
  margin: 0px;
}

.logo-academy--footer {
  padding-top: 67px;
  padding-bottom: 64px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 67px;
  padding-left: 0px;
  margin: 0px;
}

.social__list-footer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  background-position: 50% 50%;
  margin-right: 432px;
}

.user__list-footer a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}

.login-footer::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.login-footer-catalog::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/user-footer-cat.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.compare-footer::before,
.compare-footer-catalog::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.basket-footer::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-image: url(../img/basket-footer.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.social__list-facebook {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-position: 50% 50%;
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 20px;
}

.social__list-instagram {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-position: 50% 50%;
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 20px;
}

.social__list-twitter {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-position: 50% 50%;
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
