:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
  --special-yellow: #F7E296;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.ttf) format("ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src:
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.ttf) format("ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* header */

.page-header {
  display: grid;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 1160px;
}

.page-logo {
  margin-top: -45px;
  left: 132px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 160px;
  padding-left: 60px;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--special-yellow);
}

.user-list--navigation,
.nav__list-navigation li {
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: var(--special-yellow);
}

.search {
  width: 106px;
  height: 20px;
  margin-left: 35px;
  margin-top: 29px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  display: none;
}

.user-list--navigation a {
  padding-bottom: 21px;
  list-style: none;
  font-style: normal;
  color: var(--basic-black);
}

.user-list--navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-top: -20px;
  margin-right: 0px;
}

.user-list--compare {
  margin-right: 63px;
}

.user-list--login {
  margin-right: 239px;
}

.nav__list-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.nav__list-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

.list-navigation_column a {
  font-family: "Open Sans";
  font-style: normal;
}

.list-navigation--column {
  display: none;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
}

.nav-warranty {
  margin-right: 111px;
}

.nav-delivery {
  margin-left: 349px;
  margin-right: 38px;
}

/* main-index */

.section-slider {
  position: relative;
  display: grid;
  margin-top: -280px;
}

.slider-list .slider-list--item1 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.slider-list--item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
  margin-bottom: 10px;
  width: 1024px;
}

.slider-list--item2 {
  display: none;
}

.slider-list--item3 {
  display: none;
}

.slider-header {
  margin-top: 110px;
  margin-left: 127px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  letter-spacing: .01em;
}

.slider-list li {
  list-style: none;
}

.slider-img1 {
  width: 384px;
  height: 486px;
  margin-top: -1px;
  margin-left: 5px;
}

.slider__text {
  margin-top: -230px;
  margin-left: 511px;
  padding: 0;
  font-style: normal;
  letter-spacing: .01em;
}

.slider-btn {
  margin-top: -140px;
  margin-left: 511px;
  margin-right: 293px;
}

.slider-radio {
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin-top: -180px;
  margin-left: 1080px;
  margin-right: 41px;
}

.table-slider {
  border-spacing: 65px 15px;
  margin-left: 445px;
  margin-top: -90px;
  width: 444px;
}

.table-slider .table-value {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}

.table-slider .table-parameters {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.main-link__goods {
  display: grid;
  margin-top: 76px;
  margin-left: 140px;
  margin-right: 140px;
}

.goods__link {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #F7E296;
}

.goods__link {
  list-style: none;
}

.goods__link a {
  color: black;
}

.goods__link p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.service {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  margin-top: 184px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E5E5E5;
}

.service-list li,
.logo-list li,
.content__list li,
.checkbox-list li,
.filter__radio-list li,
.sort-list li,
.pagination-list li {
  list-style: none;
}

.service-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service-list--warranty,
.service-list--credit {
  display: none;
}

.service-list b {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-list p {
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.service-btn--group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
}

.service-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.info {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.section-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  ;
  width: 473px;
  margin-right: 127px;
}

.section-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  ;
  width: 560px;
}

.btn-info {
  margin-top: 84px;
  margin-bottom: 86px;
}

.section-info__delivery-list li {
  margin-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.title__section-info {
  margin-top: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}

.text__section-info {
  margin-bottom: 40px;
  font-style: normal;
  line-height: 28px;
  color: #000000;
}

.section-contacts .text__section-info .title__section-info {
  margin-top: 50px;
  margin-bottom: 40px;
}

/* popaps */

.popup-write-us {
  display: none;
  flex-direction: row;
  width: 960px;
  height: 550px;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.popup-form label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.map {
  display: none;
}

/* main-catalog */

.catalog-navigation {
  display: grid;
  justify-content: stretch;
  grid-auto-flow: row;
  margin-top: 44px;
  margin-left: 200px;
}

.content__title {
  display: flex;
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}

.content__list {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  margin-left: -35px;
}

.main-catalog {
  display: grid;
  grid-auto-flow: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.section-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 328px;
  background-color: #efefef;
}

.filter__item {
  border: 0px;
  margin-top: 0px;
  width: 468px;
}

.sort-section {
  display: inline-flex;
  background: #E5E5E5;
  height: 70px;
  width: 972px;
  margin-left: 0px;
  margin-right: 0px;
}

.sort-list {
  display: inline-flex;
  margin-right: 0px;
}

.main-content__img {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.main-content__img li {
  list-style: none;
}

.goods-list__img1 {
  margin-right: 40px;
}

.goods-list__img3 {
  margin-right: 40px;
}

.goods-list__img1,
.goods-list__img2 {
  margin-top: 70px;
}

.goods-list__img3,
.goods-list__img4 {
  margin-top: 48px;
  margin-bottom: 114px;
}

.goods-btn--hidden {
  display: none;
}

.header-4--filter {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #DCDCDC;
  height: 70px;
  margin-top: 0px;
}

.header-4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 70px;
  width: 519px;
}

.filter__item legend {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.checkbox-list label,
.filter__radio-list label,
.sort-list a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.titel__goods-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.comparison {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  color: #000000;
}

.price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination-list a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background: #EBEBEB;
  width: 760px;
  height: 70px;
  margin-top: -70px;
  margin-right: 140px;
  margin-bottom: 78px;
}

/* footer */

.page-footer {
  display: grid;
  width: auto;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
}

.user__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.page-logo__footer {
  margin-left: -40px;
  margin-top: 64px;
}

.login-footer {
  margin-right: 63px;
}

.compare-footer {
  margin-right: 62px;
}

.basket-footer {
  margin-right: 0px;
}

.user__list-footer,
.nav__list-footer,
.social__list-footer {
  list-style: none;
}

.footer-address {
  flex-grow: 7;
  font-style: normal;
  color: var(--basic-white);
  margin-top: 40px;
  margin-left: 100px;
}

.nav__list-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__list-footer a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-delivery {
  margin-left: 156px;
  margin-right: 36px;
}

.footer-contacts {
  margin-left: 36px;
  margin-right: 0px;
}

.tel {
  text-align: right;
  font-style: normal;
  color: #FFFFFF;
  margin-left: 135px;
  margin-top: 73px;
  margin-right: 140px;
}

.logo-academy--footer {
  margin-right: 140px;
  margin-top: 67px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 67px;
  margin-left: 512px;
}

.user__list-footer a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
