:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
  --special-yellow: #F7E296;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.ttf) format("ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src:
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.ttf) format("ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* header */

.page__header {
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 0px;
  position: absolute;
  width: 1160px;
  border: 0;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 160px;
  padding-left: 60px;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--special-yellow);
}

.user__list-navigation,
.nav__list-navigation li {
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: var(--special-yellow);
}

.search {
  width: 106px;
  height: 20px;
  left: 98px;
  top: 64px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.3);
}

.user__list-navigation a {
  padding-bottom: 21px;
  list-style: none;
  font-style: normal;
  color: var(--basic-black);
}

.user__list-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-left: 454px;
  padding-bottom: 21px;
}

.nav__list-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.nav__list-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.list-navigation_column a {
  font-family: "Open Sans";
  font-style: normal;
}

.list-navigation_column {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
}

/* main-index */

.slider-list__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 0px;
  margin-left: 89px;
  margin-top: 190px;
  margin-bottom: 10px;
  z-index: 1;
}

.slider__header {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  letter-spacing: .01em;
}

.slider-list li {
  list-style: none;
}

.slider-list {
  position: relative;
  display: flex;
  margin-top: 174px;
  padding-bottom: 97px;
  border: 0px;
}

.slider-img {
  width: 100%;
  margin-right: 40px;
  text-align: center
}

.slider-img1 {
  width: 384px;
  height: 486px;
  margin-top: -1px;
  margin-left: 5px;
}

.slider__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  letter-spacing: .01em;
}

.table-slider__1 .table-value {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}

.table-slider__1 .table-parameters {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.title__section-info {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}

.text__section-info {
  font-style: normal;
  line-height: 28px;
  color: #000000;
}

.main-link__goods {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 0px;
  margin-top: 76px;
}

.goods__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.goods__link {
  list-style: none;
  background-color: #F7E296;
}

.goods__link a {
  color: black;
}

.goods__link p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 0px;
  width: 1440px;
  margin-top: 49px;
  background-color: #E5E5E5;
}

.service-list li,
.logo-list li,
.section-info__delivery-list li,
.content__list li,
.checkbox-list li,
.filter__radio-list li,
.sort-list li,
.pagination-list li {
  list-style: none;
}

.service-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.service-list p {
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.service-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin-top: 80px;
  padding: 0;
}

.info {
  display: flex;
  flex-direction: row;
}

.section-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 473px;
  margin-left: 140px;
}

.section-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 560px;
  margin-left: 127px;
  margin-right: 140px;
}

.section-info__delivery-list li {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* popaps */
.popup-write-us {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 550px;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.popup-form label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

/* main-catalog */

.catalog-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 644px;
  margin-left: 200px;
}

.content__title {
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}

.content__list {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.main-catalog {
  display: flex;
  align-content: center;
  ;
  width: 1200px;
  margin-top: 201px;
}

.sort-section {
  display: inline-flex;
  background: #E5E5E5;
  width: 972px;
  margin-right: 0px;
}

.sort-list {
  display: inline-flex;
}

.main-content__img {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

}

.main-content__img li {
  list-style: none;
}

.goods-list__img1 {
  margin-right: 40px;
}

.goods-list__img3 {
  margin-right: 40px;
}

.goods-list__img1,
.goods-list__img2 {
  margin-top: 70px;
}

.goods-list__img3,
.goods-list__img4 {
  margin-top: 122px;
  margin-bottom: 114px;
}

.header-4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter__item legend {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.checkbox-list label,
.filter__radio-list label,
.sort-list a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.titel__goods-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.comparison {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  color: #000000;
}

.price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination-list a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: #EBEBEB;
  width: 760px;
  margin-top: 114px;
  margin-right: 140px;
}

/* footer */

.page_footer {
  width: 1440px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 46px;
}

.user__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.login-footer {
  margin-right: 63px;
}

.compare {
  margin-right: 62px;
}

.basket {
  margin-right: 140px;
}

.user__list-footer,
.nav__list-footer,
.social__list-footer {
  list-style: none;
}

.footer-address {
  flex-grow: 7;
  font-style: normal;
  color: var(--basic-white);
}

.nav__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__list-footer a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.tel {
  flex-grow: 9;
  text-align: right;
  font-style: normal;
  color: #FFFFFF;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 67px;
  margin-left: 652px;
}

.user__list-footer a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
